.loader {
    width: 50vw;
    height: 50vh;
    background-color: #e6d583;
    background-image: 
        url("https://www.transparenttextures.com/patterns/asfalt-dark.png");
    margin: 0 auto;
    border-radius: 15px;
}

.welcome {
    padding-top: 4rem;
}

.suggestion {
    font-size: 2.5rem;
}