.modal {
    top: 0px;
    left: 0px;
    position: fixed;
    width: 100%;
    height: 100%;
    overflow: scroll;
    background: rgba($color: #000000, $alpha: 0.5);
    .title-input {
        border: none;
        outline: none;
        font-size: 2em;
        margin: 0px 12px;
    }
    .note-form {
        background: #ffffff;
        margin: 100px auto;
        width: 600px;
        min-height: 100px;
        padding: 20px 0px;
        box-shadow: 2px 2px 5px grey;
        border-radius: 5px;
        display: flex;
        flex-direction: column;
    }
}

.text {
    border-top: 1px solid #ffffff;
        border-bottom: 1px solid #ffffff;
    box-sizing: content-box;
    padding: 10px;
    display: flex;
    margin: 5px;
    input{
        width: 90%;
        margin: 0px 10px;
        &:-webkit-autofill,
        &:-webkit-autofill:hover, 
        &:-webkit-autofill:focus, 
        &:-webkit-autofill:active  {
            -webkit-box-shadow: 0 0 0 30px white inset !important;
        }
    }
    .xmark {
        cursor: pointer;
        transition: 0.2s;
        opacity: 0;
        height: 15px;
        width: 15px;
        background-image: url("./images/close-button.svg");
        background-size: 15px 15px;
        &:hover{
            .xmark {
                opacity: 1;
            } 
        }
        &:focus-within {
            border-top: 1px solid black;
            border-bottom: 1px solid black;
        }
    }
    input {
        border: none;
        outline: none;
    }
}

.uncheckbox {
    cursor: pointer;
    height: 15px;
    width: 15px;
    background-image: url("./images/blank-square.svg");
    background-size: 15px 15px;
}

.checkbox {
    cursor: pointer;
    height: 15px;
    width: 15px;
    background-image: url("./images/check-box.svg");
    background-size: 15px 15px;
}

.add {
    height: 15px;
    width: 15px;
    background-image: url("./images/add-plus-button.svg");
    background-size: 15px 15px;
}