.note-form {
    width: 600px;
    padding: 20px;
    box-shadow: 2px 2px 5px grey;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}

.text {
    display: flex;
    margin: 5px;
    input{
        width: 90%;
        margin: 0px 10px;
    }
}

.uncheckbox {
    height: 15px;
    width: 15px;
    background-image: url("./images/blank-square.svg");
    background-size: 15px 15px;
}

.checkbox {
    height: 15px;
    width: 15px;
    background-image: url("./images/check-box.svg");
    background-size: 15px 15px;
}

.xmark {
    height: 15px;
    width: 15px;
    background-image: url("./images/close-button.svg");
    background-size: 15px 15px;
}

.add {
    height: 15px;
    width: 15px;
    background-image: url("./images/add-plus-button.svg");
    background-size: 15px 15px;
}